---
import Layout from '../layouts/Layout.astro'
---

<Layout title='404 Page missing'>
  <div class='main'>
    <article>
      <h1>404 Page missing</h1>
      <p>Sorry but it seems this page is missing.</p>
    </article>
  </div>
</Layout>
