---
import IconFacebook from '../assets/svg/IconFacebook.astro'
import IconInstagram from '../assets/svg/IconInstagram.astro'
import IconLinkedin from '../assets/svg/IconLinkedin.astro'
import Button from '../components/Button.astro'
import GoogleMap from '../components/GoogleMap.astro'
import HerosectionSimple from '../components/HerosectionSimple.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Contact us'>
  <div class='main'>
    <HerosectionSimple src='/assets/about.webp' />
  </div>
  <div class='main'>
    <article
      ><h1>Contact</h1>
      <p>Because we'd love to hear from you.</p>
      <div class='contactpage'>
        <div class='vcard'
          ><div>
            <!-- <GoogleMap /> -->
            <p
              ><strong>Studiopunkt</strong><br /><br />Address: Sofia, Bulgaria<br
              />
              str. William Gladstone 6</p
            >
            <p
              ><i class='fa fa-phone'></i>
              <a href='tel:+359899229759'>+359 899229759</a> / <a
                href='tel:+359899667261'>+359 899667261</a
              ><br /><br /><i class='fa fa-envelope'></i>
              <a href='mailto:info@studiopunkt.bg'>info@studiopunkt.bg</a></p
            >
            <div class='social'>
              <a href='https://www.facebook.com/studiopunkt.bg'
                ><IconInstagram /></a
              >
              <a href='https://www.instagram.com/studiopunkt.bg/'
                ><IconFacebook /></a
              >
              <a href='https://www.linkedin.com/studiopunkt.bg/'
                ><IconLinkedin /></a
              >
            </div>
          </div></div
        >

        <form id='form' onsubmit='return false;'>
          <div class='columns'>
            <fieldset>
              <label for='name'>Name<sup>*</sup></label>
              <input type='text' id='name' value='' />
            </fieldset>
            <fieldset>
              <label for='surname'>Surname</label>
              <input type='text' id='surname' value='' />
            </fieldset>
          </div>
          <fieldset>
            <label for='email'>Email<sup>*</sup></label>
            <input type='email' id='email' value='' />
          </fieldset>
          <fieldset>
            <label for='subject'>Subject<sup>*</sup></label>
            <input type='text' id='subject' value='' />
          </fieldset>
          <fieldset>
            <label for='message'>Message<sup>*</sup></label>
            <textarea id='message'></textarea>
          </fieldset>
          <fieldset>
            <label for='tel'>Phone number</label>
            <input type='tel' id='tel' value='' />
          </fieldset>
          <Button type='submit'>Submit</Button>
        </form>
      </div>
    </article></div
  ><script is:inline>
    const get = (id) =>
      document.getElementById(id) || {
        value: '',
      }
    const submitForm = () => {
      saveInput()
      sendmail()
    }
    const saveInput = () => {
      const store = Object.create(null)
      store.name = get('name')?.value
      store.surname = get('surname')?.value
      store.email = get('email')?.value
      store.tel = get('tel')?.value
      localStorage.setItem('contactinfo', JSON.stringify(store))
    }
    const retrieveInfo = () => {
      const store = JSON.parse(localStorage.getItem('contactinfo') || '{}')
      get('name').value = store.name || ''
      get('surname').value = store.surname || ''
      get('email').value = store.email || ''
      get('tel').value = store.tel || ''
    }
    const submitBtn = document.querySelector('[type="submit"]')
    submitBtn?.addEventListener('click', submitForm)
    retrieveInfo()
    ;[...document.querySelectorAll('input')][0]?.focus()
    // window.onload = () => {
    // }

    // ----
    const sendmail = async () => {
      const data = await fetch('/api/sendmail.json', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          name: 'value1',
          surname: 'value2',
        }),
      })
        .then((res) => res.json())
        .catch((err) => {
          console.log('Error', err)
          throw new Error('Network error.')
        })
    }
  </script>
</Layout>
<style lang='scss'>
  article > p {
    max-width: 80ch;
    line-height: 1.8em;
  }

  .contactpage {
    display: flex;
    flex-flow: column-reverse;
    column-gap: 2rem;
    row-gap: 4rem;
    & > * {
      flex: 1 1 100%;
    }
    @media screen and (min-width: 756px) {
      flex-flow: row;
    }
  }

  form {
    display: flex;
    flex-flow: column;
    fieldset {
      margin: 1rem 0;
      border: none;
    }
    input,
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid var(--medium-dark);
      padding: 1em 1em;
      position: relative;
    }
    textarea {
      min-height: 8rem;
    }
    label {
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 0.2em;
      color: #999;
    }
  }

  .vcard {
    isolation: isolate;
    min-height: 300px;
    & > div {
      --filter: blur(2px);
      --transform: scale(0.98) translateY(3%);
      --bg-color: hsl(0 0% 0% / 0.2);
      --blur: blur(2px);
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      height: 100%;
      box-shadow: 3px 3px 8px hsl(0 0% 0% / 0.1);
      position: relative;
      background-color: white;
      padding: 2rem;
      &:after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--bg-color);
        rotate: 2deg;
        transform: var(--transform);
        filter: var(--blur);
        transform-origin: center;
        z-index: -1;
      }
      &:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: var(--bg-color);
        rotate: -2deg;
        transform: var(--transform);
        filter: var(--blur);
        transform-origin: center;
        z-index: -1;
      }
      img {
        flex: 0 1 0px;
        max-height: 150px;
        aspect-ratio: 446 / 600;
        @media screen and (min-width: 756px) {
          max-height: 300px;
        }
      }
      & > .vcard__content {
        flex: 1 1 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        height: 100%;
        padding: 1rem;
        quote {
          position: relative;
          color: rgb(113, 113, 113);
          line-height: 1.8em;
          //   span {
          //     background-color: #e3e3e3;
          //     padding: 0.3em;
          //   }
          &:after {
            content: '”';
            position: absolute;
            top: 0.3em;
            left: -0.2em;
            font-size: 8em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            mix-blend-mode: darken;
            color: var(--header-bg);
            opacity: 0.7;
          }
        }
      }
    }
    .social {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      margin-inline: auto;
      border-top: 1px solid #666;
      padding-block: 2rem;
      margin: 2rem auto -1rem auto;
    }
  }
</style>
