---
import Layout from '../layouts/Layout.astro'
import Herosection from '../components/Herosection.astro'
import Card from '../components/Card.astro'
import { INTRO1, INTRO2 } from '../config'
---

<Layout title='Welcome to Punkt Studio - Interior Design company.'>
  <div class='main'>
    <Herosection>
      <p class='intro1 fluid-font'>{INTRO1}</p>
    </Herosection>
  </div>
  <div class='main'>
    <article>
      <h2>Our Services</h2>
      <p class='intro2 fluid-font'>{INTRO2}</p>
      <ul class='aside columns'>
        <Card
          title='Interior decoration'
          body='Selection of furniture, artwork, and other decorative objects to enhance the aesthetic of a space. '
          href='/'
        />
        <Card
          title='Interior design'
          body='The creation of a space through the manipulation of space, colour, texture, and lighting. '
          href='/'
        />
        <Card
          title='Space planning'
          body='Arrangement and organization of furniture, furnishings, and other objects within a space to maximize the use of the space and create a desired atmosphere.'
          href='/'
        />
      </ul>
      <hr />
      <h2>Punkt Studio in the magazines</h2>
      <div class='feature'>
        <img src='/assets/BRAVACASA-724x1024.jpg' alt='feature image' />
        <div
          ><p class='fluid-font'
            >Punkt Studio featured in Bravacasa - Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Nostrum odio optio voluptates facere.
            Voluptatum, laudantium sapiente veritatis porro illum officiis?
            Pariatur officiis deleniti a, molestias inventore nobis illo eum
            magni!</p
          ></div
        >
      </div>
    </article>
  </div>
</Layout>

<style lang='scss'>
  .main {
    & > article {
      max-width: var(--max-width);
      margin-inline: auto;
    }
    &:has(.hero) {
      background: #333;
      padding: 0;
    }
    .hero {
      max-width: 1300px;
      margin-inline: auto;
    }
  }

  .intro1 {
    font-weight: 600;
    color: var(--medium-dark);
  }
  .intro2 {
    margin: 0 0 3em 0;
    max-width: 70%;
  }

  ul.aside {
    width: 100%;
    gap: 1rem;
    padding: 0;
    & > div {
      width: 100%;
    }
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5vw;
    position: relative;
    isolation: isolate;

    img {
      rotate: -3deg;
      box-shadow: 3px 3px 3px hsl(0 0% 0% / 0.2);
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: max(-2vw, -40px);
      transform: translateY(-0%);
      width: min(30vw, 350px);
      height: inherit;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      background-color: yellow;
      z-index: -1;
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;

    & code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }

    & strong {
      color: rgb(var(--accent));
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
