---
import HerosectionSimple from '../components/HerosectionSimple.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Projects'>
  <div class='main'>
    <HerosectionSimple src='/assets/about.webp' />
  </div>
  <div class='main'>
    <article
      ><h1>Interior design</h1>
      <p
        >We believe interior design is function, safety, and aesthetics. Our
        interior design solutions don’t just address the needs of our clients
        but are also a reflection of our clients’ true self in terms of moods,
        emotions, and habits. We always strive for a comprehensive approach,
        combining interiors, architecture, and landscaping with no clearly
        deifined boundaries between.</p
      >

      <ul
        ><li
          ><strong>Architectural Survey</strong> A necessary first step, the architectural
          survey is a process through which the architectural components are measured
          for acknowledging the shape and dimensions.</li
        ><li>
          <strong>Space Planning</strong>
          Area layout and zoning aimed at striking the right balance between function
          and practicality, in line with our clients’ ideas and our professional
          point of view.</li
        ><li>
          <strong>Conceptual Design</strong>
          The process of more detailed planning of the interior areas – building
          upon the clients’ style preferences to identify the most appropriate materials,
          lights, and colors in the interiors under study.</li
        ><li>
          <strong>Detailed technical design</strong>
          Preparation of the necessary technical drawings and documents to proceed
          with project execution, taking into consideration the timeline of the various
          activities involved.</li
        ><li>
          <strong>Execution oversight</strong>
          Execution supervision as required to ensure design is implemented as planned.</li
        ><li>
          <strong>Communication</strong>
          Design is communication, the link between the designer and the client and
          since an authentic interior carries the mark of its creator, trust is extremely
          important.
        </li></ul
      >
      <!-- <p
        >Interior design is the art and science of shaping the interior spaces
        of a building to achieve a functional and aesthetically pleasing
        environment. It involves creating a functional layout, selecting and
        arranging furniture, choosing color schemes, lighting, textures, and
        materials, and integrating systems such as heating, cooling, and
        lighting. The goal of interior design is to create spaces that are not
        only aesthetically pleasing but also safe, functional, and efficient.</p
      ><p>
        Interior designers consider a wide range of factors when designing an
        interior space, including the intended use of the space, the size and
        shape of the room, the existing architectural features, the client's
        lifestyle and preferences, and the surrounding environment. They must
        also consider ergonomic and safety requirements, accessibility, and
        environmental sustainability.</p
      ><p>
        Interior decoration is a subcategory of interior design that focuses on
        adding decorative elements to enhance the overall look and feel of a
        space. It encompasses the selection and placement of items such as
        furniture, lighting, accessories, color schemes, textures, and materials
        to create a cohesive and aesthetically pleasing environment. Interior
        decoration often follows interior design, and is used to bring the
        design to life and add the final touches that make a space feel
        complete.</p
      ><p>
        In conclusion, interior design and interior decoration are closely
        related, but they serve different purposes. While interior design is
        concerned with the functional and structural aspects of creating an
        interior space, interior decoration is focused on the aesthetic and
        cosmetic elements that make a space visually appealing and personal.
        Both are important components of creating a well-designed interior
        space.</p
      > -->
    </article></div
  >
</Layout>
<style lang='scss'>
  article > p {
    max-width: 80ch;
    line-height: 1.8em;
  }

  li {
    max-width: 80ch;
    margin-top: 3rem;
    line-height: 1.6em;
  }
</style>
