---
---

<div class='main footer'>
  <div class='footer__page columns'>
    <div class='footer__page-column'>Studiopunkt</div>
    <div class='footer__page-column'
      >Address: Sofia, Bulgaria<br />str. William Gladstone 6<br /><br />Tel:
      <a href='tel:+359899229759'>+359 899229759</a> / <a
        href='tel:+359 899667261'>+359 899667261</a
      ><br /><a href='mailto:info@studiopunkt.bg'>info@studiopunkt.bg</a></div
    >
    <div class='footer__page-column'
      >Polly Georgieva<br /><a href='mailto:pollyg@studiopunkt.bg'
        >pollyg@studiopunkt.bg</a
      ><br /><br />Denitsa Nikolova<br /><a
        href='mailto:denitsan@studiopunkt.bg'>denitsan@studiopunkt.bg</a
      ></div
    >
  </div>
</div>
<style lang='scss'>
  .footer {
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
  }

  .footer__page {
    width: 100%;
    max-width: var(--max-width);
    & > .footer__page-column {
      font-size: 0.9rem;
      line-height: 1.5em;
      padding: 0 1rem;
      a {
        color: white;
      }
    }
    & > .footer__page-column + .footer__page-column {
      border-left: 1px solid white;
    }
  }
  .main:has(.footer__page) {
    margin-top: 4rem;
    padding-bottom: 8rem;
  }
</style>
