---
---

<div class='main footer'>
  <div class='footer__page columns'>
    <div class='footer__page-column'>Punkt Studio</div>
    <div class='footer__page-column'
      >Address: asd street 100<br />Tel: 0899229759 / 0899667261<br /><a
        href='mailto:info@punktstudio.bg'>info@punktstudio.bg</a
      ></div
    >
    <div class='footer__page-column'
      >Polly Georgieva<br /><a href='mailto:polly@punktstudio.bg'
        >polly@punktstudio.bg</a
      ><br /><br />Denitsa Nikolova<br /><a href='mailto:denitsa@punktstudio.bg'
        >denitsa@punktstudio.bg</a
      ></div
    >
  </div>
</div>
<style lang='scss'>
  .footer {
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    margin-top: 5rem;
  }

  .footer__page {
    width: 100%;
    max-width: var(--max-width);
    & > .footer__page-column {
      font-size: 0.9rem;
      line-height: 1.5em;
      padding: 0 1rem;
      a {
        color: white;
      }
    }
    & > .footer__page-column + .footer__page-column {
      border-left: 1px solid white;
    }
  }
  .main:has(.footer__page) {
    margin-top: 4rem;
  }
</style>
