---
const apikey = import.meta.env.PUBLIC_GMAPSKEY
console.log('apikey', apikey)
const src = `https://maps.googleapis.com/maps/api/js?key=${apikey}&callback=initMap&v=weekly`
---

<div id='map'></div>
<script is:inline>
  let map

  function initMap() {
    const myLatLng = { lat: 42.69135607193375, lng: 23.32145416142027 }

    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: myLatLng,
    })

    new google.maps.Marker({
      position: myLatLng,
      map,
      title: 'Punkt Studio!',
    })
  }

  window.initMap = initMap
</script>
<script is:inline defer src={src}></script>
<style>
  #map {
    width: 100%;
    min-height: 20rem;
  }
</style>
