---
import Logo from '../assets/svg/Logo.astro'
const logoWidth = 150
---

<header>
  <div class='logo'
    ><a href='/'><Logo width={logoWidth} height={(logoWidth * 73) / 318} /></a
    ></div
  >
  <div id='mobile-wrapper'>
    <button aria-label='User menu' aria-haspopup='true'
      ><i class='fa fa-bars'></i></button
    >
    <nav
      id='navigation'
      role='menu'
      aria-orientation='vertical'
      aria-labelledby='user-menu'
    >
      <ul role='menu' aria-labelledby='user-menu'>
        <li><a href='/' role='menuitem' aria-label='home'>Home</a></li>
        <li><a href='/about' role='menuitem' aria-label='about'>About</a></li>
        <li
          ><a href='/projects' role='menuitem' aria-label='projects'>Projects</a
          ></li
        >
        <li
          ><a href='/contact' role='menuitem' aria-label='contact'>Contact</a
          ></li
        >
      </ul>
      <img
        loading='lazy'
        src='/assets/blueprint_inv.webp'
        alt='blueprint decoration'
      />
    </nav>
  </div>
</header>
<script>
  function highlightCurrentNavItem() {
    const path = document.location.pathname.toLowerCase()
    const current =
      path.split('/')[1] || (path.split('/')[0] === '' ? 'home' : '')
    const currentListItem = document.querySelector(
      `nav li:has(a[aria-label="${current}"])`
    )
    currentListItem?.classList.add('active')
  }
  window.onload = highlightCurrentNavItem
</script>
<style lang='scss'>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-bg);
    .logo {
      font-size: 1.75rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
    #mobile-wrapper {
      & > button {
        border: none;
        background-color: transparent;
        font-size: 1.7rem;
        &:focus ~ nav,
        & ~ nav:focus-within {
          transform: translateX(0%);
        }
      }
      nav {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        bottom: 0;
        background-color: var(--mobile-nav-bg);
        transition: transform 300ms ease-out;
        width: min(80vw, 350px);
        overflow: hidden;
        img {
          pointer-events: none;
          position: absolute;
          bottom: 0;
          max-height: 50%;
          mix-blend-mode: color-dodge;
          rotate: 30deg;
          transform: scale(2);
          opacity: 0.2;
        }
        &:focus {
          transform: translateX(0%);
        }
        ul {
          display: flex;
          list-style-type: none;
          gap: 1rem;
          flex-flow: column;
          font-size: 1.7rem;
          margin-top: min(8vh, 10rem);

          li {
            margin-bottom: 1rem;
            &.active {
              font-weight: 600;
            }
            a {
              text-decoration: none;
              color: var(--dark-text);
              text-shadow: 1px 1px 0 hsl(0deg 0% 100% / 34%);
              letter-spacing: 0.2em;
              text-transform: uppercase;
            }
          }
        }
      }
      @media screen and (min-width: 756px) {
        display: contents;
        & > button {
          display: none;
          &:focus ~ nav,
          & ~ nav:focus-within {
            transform: unset;
          }
        }
        nav {
          position: static;
          top: unset;
          right: unset;
          transform: unset;
          bottom: unset;
          background-color: transparent;
          width: unset;
          img {
            display: none;
          }
          ul {
            flex-flow: row;
            font-size: 0.72rem;
            margin-top: revert;
            li {
              margin-bottom: revert;
            }
          }
        }
      }
    }
  }
</style>
